<!DOCTYPE html>
 <html lang="en">
 <head> <title>Nageswarareddy profile</title>
 <style>
img{
	display: block;
	margin:auto;
	border-radius: 100%;
	}
	</style>
 <meta charset="utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="static/style.css">
 </head> 
 <body> 
 <div class="container text-center full-height">
 <div class="row content">
 <div class="col-sm-4 sidenav">
 <div class="thumbnail"> <!-- Change the link in the src attribute below to an image available on the Internet -->
 <img src="{{url_for('static',filename='nreddy.jpg')}}"/>
 </div> <h2 align="center"><b>Kandikonda Nageswarareddy</b></h2> <p align="center">
 Student<br>Velagapudi Siddhartha Enineering college<br>Vijayawada.</p> 
 </div> <div class="col-sm-8 text-left"> <h3>About me</h3>
 <p> I am cool and hardworking</p>
 <hr> <h3>Education</h3> 
 <p>Master of computer applications</p>
 <hr> <h3>Experience</h3> <p>No Experience</p> 
 <hr> <h3>A cool thing I've done recently</h3> 
 <p> I have watched fidda recently <p> <hr> 
 </div>
 </div> 
 </div> 
 <footer class="container-fluid text-center footer"> Happiness is the product of hardwork </footer>
 </body> 
 </html>
